/**** Main Header * END *****************/

.container {
    width: 90%;
    margin: 0 auto;
}

.guidelines h2 {
    margin: 24px 0;
    color: black;
    background-color: var(--blue-crayola);
    font-size: 32px;
    padding: 10px 0px;
    text-align: center;
}

table {
    width: 100%;
    font-family: "Work Sans", sans-serif;
    border-collapse: collapse;
}

table th,
table td {
    padding: 8px;
    text-align: center;
}

table td a.flex-cc {
    align-items: center;
    text-decoration: none;
}

table td a .icon {
    margin-left: 3px;
    font-size: 16px;
}

.sources.flex-cc {
    margin-top: 8px;
    padding: 4px;
    background-color: var(--med-champagne);
    justify-content: flex-start;
    align-items: center;
}

.sources .icon {
    margin-right: 4px;
    font-size: 20px;
}

.sources a {
    margin: 0 6px;
}

.awareness.flex-cc {
    margin: 24px 0;
    justify-content: space-between;
    align-items: stretch;
}

.awareness h2 {
    font-size: 20px;
    color: black;
    background-color: var(--blue-crayola);
    text-align: center;
    margin: 0px;
    padding: 10px;
}

.awareness select {
    width: 140px;
    padding: 10px;
    border: none;
    background-color: #4e80ff;
    font-size: 18px;
}

.imgs_pre {
    display: flex;
    flex-flow: row wrap;
}

.img_pre {
    width: 23%;
    margin: 4px auto;
    padding: 2px;
    border: 3px solid transparent;
    display: flex;
    align-items: center;
}

.img_pre:hover {
    border-color: var(--blue-crayola);
    transform: scale(1.02);
}

.img_pre img {
    width: 100%;
}


/****** Media Queries ***************/

@media (max-width: 900px) {
    /****** Pre-only ***************/
    .awareness h2 {
        font-size: 20px;
        padding: 10px 10px;
    }
    .img_pre {
        width: 30%;
    }
    /****** Pre-only ***************/
}

@media (max-width: 600px) {
    /****** Pre-only ***************/
    body {
        font-size: 16px;
    }
    .guidelines h2 {
        font-size: 24px;
    }
    .awareness h2,
    .awareness select {
        font-size: 18px;
    }
    .img_pre {
        width: 48%;
    }
}


/****** Pre-Only ******************/

@media (max-width: 440px) {
    body {
        font-size: 14px;
    }
    .guidelines h2 {
        font-size: 20px;
    }
    .awareness h2,
    .awareness select {
        font-size: 16px;
    }
    .img_pre {
        width: 85%;
    }
}

@media (max-width: 360px) {
    .img_pre {
        width: 90%;
    }
}