@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700&display=swap');
:root{
    --usafa-blue: #00509D;
    --royal-blue-dark: #00296B;
    --mikado-yellow: #FDC500;
    --blue-crayola: #4E80FF;
    --rich-black: #000814;
    /*--white: #ffffff;*/
    --alicia-blue: #E7F2FF;
    --med-champagne: #FFF0B4;

    /**************************/
    
}
*{
    box-sizing: border-box;
}
html, body{
    padding: 0;
    margin: 0;
}
body{
    width: 100vw;
    font-family: 'Work Sans', sans-serif;
    scroll-behavior: smooth;
    overflow-x: hidden;
}
body.menu-open {
    position: fixed;
}
nav a{
    text-decoration: none;
}
button, select, input, label, option{
    cursor: pointer;
    background: none;
    border: none;
    font-family: 'Work Sans', sans-serif;
}

.flex-cc{
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.col{
    flex-flow: column nowrap;
}
.noBullets{
    list-style-type: none;
    padding: 0;
}

header.flex-cc{
    position: sticky;
    top: 0;
    height: 80px;
    margin: 0;
    padding: 0 24px;
    background: var(--mikado-yellow);
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}

#logo{
    /* background: #eee; */
    user-select: none;
    text-decoration: none;
    padding-right: 20px;
    color: var(--royal-blue-dark);
    border: 2px solid transparent;
}
#logo:focus{
    outline: none;
    border-color: var(--royal-blue-dark);
}
#logo h1{
    position: relative;
    margin: 0;
    font-size: 12px;
    align-items: center;
}
span#covid{
    width: 112px;
    /* background: #eee; */
    font-size: 36px;
    line-height: 22px;
}
span#helpDesk{
    width: 112px;
    margin-top: 4px;
    text-align: center;
    font-size: 16px;
    font-weight: normal;
    letter-spacing: 2.4px;
    line-height: 12px;
}
span#ap{
    position: absolute;
    top: 0;
    right: -18px;
}


nav ul li{
    margin: 2px 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav ul li a{
    --acc-clr: var(--usafa-blue);
    padding: 6px 10px;
    font-weight: bold;
    color: var(--acc-clr);
    border: 2px solid transparent;
    transition: background 100ms ease-in-out;

    display: flex;
    justify-content: center;
    align-items: center;
}
nav ul li a:hover{
    /* background: rgba(255, 255, 255, 0.1); */
    background: rgba(0, 0, 0, 0.1);

}
nav ul li a:focus{
    outline: none;
    border-color: var(--acc-clr);
}

/*** Menu Button ***/
#menu{
    display: none;
    cursor: pointer;
    padding: 0;
    height: 40px;
    border: 0;
    border-radius: 3px;
    background: transparent;
    border: none;
    border: 2px solid transparent;
    justify-content: center;
    align-items: center !important;
    z-index: 10;
}
#menu:hover{
    background: rgba(0,0,0,0.1);
    outline: none;
}
#menu:focus{
    border-color: var(--usafa-blue);
    outline: none;
}
#menu svg{
    background: transparent;
}
#menu svg g{
    fill: var(--usafa-blue);
}
#menu svg g rect{
    transition: transform 100ms ease-in-out;
    transform-origin: 50% 50%;
}
/* #menu svg g rect{
} */
#menu.open g #rect1 {
	transform: translateX(-14px) translateY(14px) rotate(45deg);
}
#menu.open g #rect2 {
	transform: translateX(-100px);
	height: 0;
}
#menu.open g #rect3 {
	transform: translateX(-14px) translateY(-14px) rotate(-45deg);
}





/*** Hanuma **********************/

#searchSection{
    height: calc( 100vh - 80px );
    font-size: 18px;
    align-items: stretch;
    align-self: center;
}
#searchSection > *{
    margin: 14px 0;
}
#searchSection select,
#searchSection button,
#searchSection label{
    height: 60px;
    padding: 12px 18px;
    border-radius: 4px;
}
#searchSection select:focus,
#searchSection button:focus{
    outline: none;
    box-shadow: 0 0 0 3px var(--rich-black);
}
#searchSection select,
#searchSection label{
    background: var(--alicia-blue);
}
#searchSection button{
    transition: filter 80ms ease-in-out;
}
#searchSection button:hover{
    filter: brightness(1.24);
}
#selectWrapper{
    align-items: center;
}
#selectWrapper span,
#typeChkWrapper span{
    margin: 0 12px;
    font-weight: 600;
}

#distSel,
#locateMeBtn{
    width: 40%;
    flex: 2 1 auto;
    font-size: 18px;
}
#locateMeBtn{
    color: white;
    background: var(--blue-crayola);
    font-weight: 600;
    justify-content: space-between;
    align-items: center;
}

#typeChkWrapper{
    align-items: center;
}
#typeChkWrapper > *{
    margin: 6px 0;
}

#typeChkWrapper label{
    height: 56px;
    margin: 0 8px;
    display: flex;
    align-items: center;
}
#typeChkWrapper label:first-child{
    margin-left: 0;
}
#typeChkWrapper label:last-child{
    margin-right: 0;
}

#typeChkWrapper input[type="checkbox"]{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    --dim: 20px;
    width: var(--dim);
    height: var(--dim);
    margin: 0;
    margin-right: 10px;
    border: none;
    border: 2px solid var(--blue-crayola);
    border-radius: 3px;
    background: #BEDCFF;

    display: flex;
    justify-content: center;
    align-items: center;
}
#typeChkWrapper input[type="checkbox"]:after{
    content: '\f00c';
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    font-size: 14px;
    color: transparent;
}
#typeChkWrapper input[type="checkbox"]:checked:after{
    color: white;
}

#typeChkWrapper input[type="checkbox"]:focus{
    outline: none;
    box-shadow: 0 0 0 2px var(--rich-black);
}
#typeChkWrapper input[type="checkbox"]:checked{
    background: var(--blue-crayola);
}

#locateMeBtn:focus{
    border-color: var(--royal-blue-dark);
}
#locateMeBtn:active{
    background: var(--usafa-blue);
}

#searchBtn{
    color: white;
    background: var(--usafa-blue);
    font-size: 30px;
    font-weight: 700;
}
#searchBtn:focus{
    border-color: var(--rich-black);
}
#searchBtn:active{
    background: var(--royal-blue-dark);
}

/*** Gayatri *********************/

.medcontainer{
    width: 100%;
    display: flex;
    background: burlywood;
    padding: 50px;
    box-sizing: border-box;
}
.storecontainerL img{
    max-width: 80%;
}
.storecontainerR {
    flex:1;
    padding: 30px;
    font-size: 20px;
}
.storecontainerR h3{
    color: green;
}
.storecontainerL span{
    text-align: left;
}
.storecontainerL .location img{
    height: 24px;
}
.storecontainerL .phone img{
    height: 24px;
}
.storecontainerL .clock img{
    height: 24px;
}
.text-center .btn-wrapper{
    padding:4rem 0;
    flex:1;
}
.storecontainerR {
    flex:1;
    padding: 30px;
    font-size: 20px;
}
.storecontainerR h3{
    color: green;
}

/*** Siva ************************/

/* Normal */
.container{
    width: 90%;
    margin: 0px auto;
}
/* Normal */

/* head_title */
.Hsptl_list_name{
    text-align: center;
    margin: 20px 0px;
}
.Hsptl_list_name lable{
    color: #e43c26;
}
/* head_title */

/* Total Hospitals */
.total_hospitals_list{
	width: 100%;
	border-collapse: collapse;
}
.total_hospitals_list td,.total_hospitals_list th{
  padding:12px 15px;
  border:1px solid #ddd;
  text-align: center;
  font-size:16px;
}
/* Total Hospitals */
/* filters */
.frm_filtr{
    padding: 15px;
    background-color: #7ea8e6;
    margin-top: 10px;
}
.frm_p{
    padding: 0px 10px;
}
#Hsp_type{
    margin-left: 50px;
    padding: 4px;
}
.sbt_btn, .fa-search{
    padding: 3px;
}

/* filters */


/*** Siva ************************/

/*** Basha ***********************/





/*** Media Queries ***************************************/

@media (max-width: 768px) {
    #nav_el{
        --w: 100vw;
        --h: 100vh;
        position: absolute;
        transform: translateY( calc( -1 * var(--h) ) );
        top: 0;
        left: 0;
        width: var(--w);
        height: var(--h);
        /* padding-top: 50px; */
        background: rgb(255,240,180, 0.9);
        flex-flow: column nowrap;
        align-items: stretch;
        transition: transform 120ms ease-in-out;
    }
    #nav_el.open{
        transform: translateY( 0 );
    }
    #nav_el ul.flex-cc{
        flex-flow: column nowrap;
        justify-content: center;
        align-items: stretch;
    }
    #nav_el#nav_el ul li{
        padding: 0;
        margin: 0;
        flex-flow: column nowrap;
        align-items: stretch;
    }
    #nav_el ul li a{
        padding: min(4vh, 30px);
        font-size: 30px;
        justify-content: center;
    }
    #menu{
        display: flex;
    }
	/* siva */
   .container{
       width: 100%;
       margin: 0px auto;
   }
   .total_hospitals_list td,.total_hospitals_list th{
  padding:8px 10px;
  border:1px solid #ddd;
  text-align: center;
  font-size:12px;
    }
    .frm_p{
        padding: 0px;
        font-size: 14px;
    }
/* siva */
}

/*** Hanuma **********************/


@media (max-width: 700px){

    #searchSection{
        margin: 0 10vw;
        align-self: stretch;
    }
    #searchSection > *{
        margin: 8px 0;
    }
    #selectWrapper,
    #typeChkWrapper > div{
        flex-flow: column nowrap;
        align-items: stretch;
    }
    #selectWrapper > *{
        margin: 6px 0;;
    }
    #distSel,
    #locateMeBtn{
        width: auto;
    }

    #typeChkWrapper{
        align-items: stretch;
    }
    #typeChkWrapper label{
        margin: 0;
        margin: 4px 0;
    }
}
